$mono-black: #000;
$mono-white: #FFF;

$primary-0: #007AFF;
$primary-1: #B8DBFF;
$primary-2: #7ABCFF;
$primary-3: #3D9DFF;
$primary-4: #007EFF;
$primary-5: #006AD6;
$primary-6: #0056AD;
$primary-7: #004285;

$neutral-0: #F5F6F9;
$neutral-1: #C8CBCD;
$neutral-2: #999EA1;
$neutral-3: #6A7276;
$neutral-4: #3B454B;
$neutral-5: #323A3F;
$neutral-6: #282F33;
$neutral-7: #1F2427;

$secondary-1: #D7BDF8;
$secondary-2: #B484F2;
$secondary-3: #924CEC;
$secondary-4: #6F13E6;
$secondary-5: #5D10C1;
$secondary-6: #4B0D9C;
$secondary-7: #3A0A78;
