@import "../tokens/colors.scss";
@import "../mixins.scss";

.header {
  &__contacts {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;

    height: 60px;
    padding: 0 50px;

    color: $mono-white;
    background: $mono-black;

    @include bkp-md {
      display: flex;
      flex-direction: column;

      height: auto;

      padding: 20px 0;

      .contacts__socials {
        padding-top: 20px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__phone,
  &__email {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  &__navigation {
    display: grid;
    justify-content: space-between;

    grid-template-columns: auto auto auto;

    width: 100%;
    padding: 30px 50px;

    @include bkp-md {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.contacts {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    font-family: Inter;
  }

  &__img {
    padding-right: 10px;
  }

  &__vertical-line {
    width: 1px;
    height: 20px;
    margin: 0 15px;

    border-right: 1px solid $mono-white;
  }

  &__phone-email {
    @include bkp-xs-2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;

      .contacts__vertical-line {
        display: none;
      }
    }
  }
}

.socials {
  &__item {
    margin: 0 10px;

    cursor: pointer;
  }
}

.navigation {
  &__item {
    display: grid;

    margin: 0;

    font-family: Inter;

    font-size: 14px;
    font-weight: 500;
    grid-gap: 10px;
    grid-template-columns: repeat(6, auto);

    @include bkp-xs-4 {
      justify-content: center;

      margin: 20px 0;

      font-size: 18px;
      grid-template-columns: 1fr;

      grid-gap: 20px;
    }
  }

  &__menu {
    @include bkp-md {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__actions {
    @include bkp-xs-4 {
      grid-gap: 10px;
      grid-template-columns: auto auto auto;

      margin: 0;

      font-size: 14px;
      font-weight: 500;

      .actions__item svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__logo {
    text-transform: uppercase;

    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
  }

  &__link {
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      color: $primary-4;
    }

    &_active {
      color: $primary-0;

      &:hover {
        color: $primary-0;
      }
    }
  }
}

.logo {
  cursor: pointer;

  color: $mono-black;
}

.actions {
  &__item {
    position: relative;

    display: block;

    margin: 0 7px;

    cursor: pointer;

    color: $mono-black;
  }

  &__cart-quantity {
    position: absolute;
    top: -7px;
    right: -7px;

    width: 15px;
    height: 15px;
    padding-top: 1px;

    text-align: center;

    color: $mono-white;
    border-radius: 50%;
    // background: $main-color-green;

    font-size: 13px;
    font-weight: 500;
  }
}
