@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/inter-v3-latin-500.woff");
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-v3-latin-700.woff");
}

/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-v3-latin-900.woff");
}
