* {
  font-family: Inter;
}

.page-content {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.base-page-layout {
  flex: 1 1 auto;
}

.base-page-container {
  max-width: 1200px;
  margin: 0 auto;
}

.custom-img {
  position: relative !important;

  width: 100% !important;
  min-width: unset !important;
  max-width: unset !important;
  height: auto !important;
  min-height: unset !important;
  max-height: unset !important;
  object-fit: contain;
}

.intercom-button {
  position: fixed;
  right: 50px;
  bottom: 50px;

  height: 100px;
  width: 100px;
  
  svg {
    width: 25px;
    height: 25px;
  }
}
