@import "./tokens/colors.scss";

.primary-color {
  color: $primary-0;
}

.secondary-color {
  color: $neutral-2;
}

.white-color {
  color: $mono-white !important; //todo remove
}

.heading-3 {
  text-transform: uppercase;

  color: $neutral-7;
}

.bold-text {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.link-text {
  cursor: pointer;
  text-decoration: unset;

  color: $primary-3;

  &:hover {
    color: $primary-4;
  }
}
