@import "../tokens/colors.scss";

.renoshop-carousel-siple {
  display: flex;

  width: 100%;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  user-select: none;

  &__content {
    display: flex;
    overflow-x: scroll;
    flex: 1 1 auto;
    justify-content: space-around;

    margin: 5px;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__content-image {
    position: relative;

    flex: 0 0 85px;

    height: 110px;
    margin: 0 6px;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 31px;

    cursor: pointer;

    border-radius: 4px;
  }

  &__control-prew {
    background-color: $neutral-1;
  }

  &__control-next {
    color: $mono-white;
    background-color: $primary-3;
  }
}
