@import "../tokens/colors.scss";

.renoshop-carousel {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 32px;
  }

  &__controls {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 22px;

    cursor: pointer;

    &-prev {
      color: $neutral-7;

      background-color: $neutral-0;
    }

    &-next {
      color: $mono-white;

      background-color: $primary-4;
    }

    &-icon {
      width: 18px;
      height: 18px;
    }

    &_disabled {
      cursor: not-allowed;

      opacity: 0.5;
    }
  }

  &__content {
    display: flex;
    overflow: hidden;
  }

  &__item {
    margin: 0 20px;

    &:first-of-type {
      margin: 0;
    }
  }
}
