@import "../tokens/colors.scss";

.product-cart {
  width: 270px;

  &__image {
    position: relative;

    overflow: hidden;

    border-radius: 4px;

    &:hover .product-cart__action {
      opacity: 1;
    }

    img {
      width: 100%;
      height: auto;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__action {
    position: absolute;
    top: 20px;
    right: 20px;

    transition: 0.2s all;

    opacity: 0;
  }

  &__description {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    gap: 10px;
  }

  &__title {
    color: $neutral-2;
  }

  &__amount {
    color: $primary-4;

    font-size: 18px;
  }
}

.action {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 41px;
    height: 41px;
    margin-bottom: 9px;

    cursor: pointer;

    transition: 0.15s all;

    color: $mono-white;

    border-radius: 4px;
    background-color: $primary-4;

    &:hover {
      background-color: $primary-5;
    }
  }
}

.product-cart-full {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-gap: 50px;

  &__left {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    grid-gap: 20px;
    grid-column-gap: 20px;
    padding-right: 50px;
  }

  &__img {
    width: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  &__btn-group {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-gap: 10px;
  }

  &__description {
    font-weight: 400;

    line-height: 26px;
  }
}
