@import "../tokens/colors.scss";

.renoshop-profile-side-bar {
  &__menu-link {
    display: block;
  }

  &__menu-item {
    padding: 20px;

    transition: 0.1s all;

    color: $mono-black;

    border: 1px solid $neutral-0;
    border-bottom: 0;

    &:last-of-type {
      border-bottom: 1px solid $neutral-0;
    }

    &:hover {
      color: $mono-white;
      background-color: $primary-4;
    }
  }

  &__base-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;

    align-items: center;

    margin-bottom: 20px;
  }
}
