@import "../tokens/colors.scss";

.renoshop-auth-page {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100%;
}


.renoshop-auth-form {
  display: grid;

  width: 100%;

  border-radius: 4px;
  grid-template-columns: 100%;
  grid-gap: 20px;

  &__row-center {
    margin: 0 auto;
  }
}