@import "../tokens/colors.scss";

.renoshop-profile {
  &__title {
    padding: 20px 0;

    border-bottom: 1px solid $neutral-1;
  }

  &__form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 50px 20px;

    margin-bottom: 20px;

    padding: 20px 0;

    &_one-column {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  &__input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

.renoshop-profile-my-books {
  &__image-column {
    width: 70px;
    height: auto;
  }

  &__table-cell-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-group {
    display: grid;
    grid-template-columns: 32px 32px;
    grid-gap: 20px;
    justify-content: center;
  }

  &__btn-danger {
    color: $danger-4 !important;
    border-color: $danger-4 !important;
  }
}
